* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #e7e8e9;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: 'Crete Round', serif;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.section-about a {
  color: #30333a;
}

.nav-items {
  display: none;
}

.hamburger {
  display: block;
  font-size: 32px;
  color: #fff;
}

.mobile-menu a {
  text-decoration: none;
  color: #ec5242;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.hamburger li {
  list-style-type: none;
}

.hamburger li a {
  text-decoration: none;
}

.nav-items li {
  text-decoration: none;
  list-style-type: none;
}

.social-icons {
  display: flex;
  background: #30333a;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 13vw;
}

.social-icons li {
  padding-left: 30px;
}

.social-icons li a {
  color: #fff;
}

.nav-items li a {
  text-decoration: none;
}

.info h1 {
  color: rgb(0, 0, 0);
  line-height: 34px;
  letter-spacing: 0.03em;
  font-size: 32px;
  margin: 12px 0;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  mix-blend-mode: screen;
  background: rgb(255, 255, 255, 0.9);
}

.info h4 {
  color: #ec5242;
  margin-top: 50px;
}

.info .box-boder {
  margin-top: 30px;
  color: #fff;
}

.info .dark {
  color: #575757;
  font-weight: bold;
  font-size: 17px;
  margin: 10px 0;
  font-family: 'Inter', sans-serif;
}

.info .dark-2 {
  font-size: 12px;
}

.info {
  background-image: url('./images/background-img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 15px 17px 15px;
}

.info-about {
  background: #f7f7f7;
}

.info-about .hamburger {
  color: #575757;
  margin-left: 10px;
}

.section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6vw 5vw;
  background: #f7f7f7;
}

.section-about h1 {
  color: #ec5242;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  padding: 15px 0;
}

.section-about h4 {
  color: #ec5242;
}

.section-about h2 {
  color: #575757;
  font-family: 'Inter', sans-serif;
}

.about-para {
  width: 320px;
  border: 1px solid #fff;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
}

.previouse-events li {
  margin: 15px 15px 20px 20px;
  list-style-type: none;
  padding: 40px 10px 20px 10px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.event {
  width: 300px;
  height: 160px;
  box-sizing: border-box;
  background: #ec5242;
}

.one {
  background-image: url(./images/event2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.two {
  background-image: url(./images/event3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-event {
  background: #fff;
}

.main-event h2 {
  padding: 20px 0;
}

.main-event .line2 {
  width: 100%;
}

.event h3 {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.muzik-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6vw 5vw;
  border: 1px solid #d3d3d3;
  height: 40px;
  width: 300px;
}

.muzik-logo h3 {
  color: #ec5242;
}

.dark-about {
  font-family: 'Inter', sans-serif;
}

.program {
  background-image: url('./images/background-img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 612px;
}

.program h4 {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.line {
  width: 10%;
  margin: 0 auto;
  color: #ec5242;
  margin-bottom: 20px;
  border: 1px solid #ec5242;
}

.feature-musician h2 {
  background: #e7e8e9;
  text-align: center;
  font-size: 22px;
  margin: 12px 0;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #575757;
}

.program li {
  width: 200px;
  height: 60px;
  box-sizing: border-box;
  background: #ec5242;
  margin: 24px auto 10px auto;
  text-align: center;
  align-content: center;
  list-style-type: none;
  padding-top: 20px;
}

.program li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #fff;
}

.card {
  display: flex;
  width: 330px;
  height: 80px;
  box-sizing: border-box;
  background-color: #30333a;
  margin: 10px auto;
}

.card h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #ec5242;
  padding: 20px 10px 0 10px;
}

.card p {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  margin: 10px 0;
  font-family: 'Inter', sans-serif;
}

.feature-musician hr {
  width: 35px;
  margin-bottom: 5px;
}

.feature-musician li {
  margin-bottom: 20px;
}

.musicians {
  display: flex;
  background-image: url('./images/chess.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.musicians img {
  /* padding: 30px 10px 1px 12px; */
  margin: 15px 5px 4px 10px;
}

.musician-about {
  margin: 14px 0 0 20px;
}

.musician-about h5 {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: #575757;
  padding-bottom: 4px;
}

.musician-about .musician-para {
  padding-bottom: 4px;
  color: #ec5242;
}

.musician-about p {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: #575757;
}

.stars {
  margin: 10px 12px;
}

.partners {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background: #575757;
}

.partners h4 {
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
  color: #fff;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.sponsors li {
  list-style-type: none;
  padding: 10px 20px;
  align-items: center;
  margin: 0 auto;
}

.footer {
  display: flex;
  background: #fff;
  padding: 5px 10px 20px 10px;
}

.footer img {
  margin-top: 30px;
}

.foot {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin: auto 20px;
  letter-spacing: 0.03em;
}

.footer h6 {
  padding-bottom: 10px;
}

.footer button {
  border-style: hidden;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #ec5242;
}

.footer p {
  font-size: 11px;
  font-weight: normal;
}

.footer li {
  list-style-type: none;
}

/* mobile-menu style */
.mobile-menu {
  display: none;
  position: fixed;
  background: #fff;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 86px 96px 106px 0;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  margin: 30px 0 0 15px;
}

.mobile-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.mobile-hr span {
  color: #fff;
  margin: 46px 25px 10px 2px;
}

.close-btn {
  position: absolute;
  font-size: 50px;
  left: 326px;
  top: 8px;
  color: #ec5242;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-items {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .nav-bar {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 200px 2px 150px;
  }

  .program li {
    margin: 390px auto 10px auto;
  }

  .nav-bar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
  }

  .footer li {
    padding: 5px 10px 20px 10px;
    align-items: center;
  }

  .nav-bar .menu li {
    padding-right: 40px;
  }

  .nav-bar .menu li a {
    color: #575757;
  }

  .btn {
    display: none;
    border: 3px solid #ec5242;
    font-weight: 700;
    height: 48px;
    width: 130px;
    color: #ec5242;
    background: #fff;
  }

  .info {
    padding: 31px 308px 10px 156px;
  }

  .cards {
    display: flex;
    justify-content: center;
    height: 80px;
    box-sizing: border-box;
    margin: 10px auto;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    display: block;
    width: 200px;
    height: 200px;
    margin: 5px 2px 5px 2px;
  }

  .card img {
    margin: 5px auto;
  }

  .card h5 {
    text-align: center;
  }

  .card .cent {
    margin: 5px 80px 5px 80px;
  }

  .card p {
    text-align: center;
    padding: 10px 20px;
  }

  .stars {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .previouse-events {
    display: flex;
  }

  .footer {
    padding: 10px 12px 10px 225px;
  }

  .footer h6 {
    margin: 62px 10px 14px 2px;
  }
}

@media screen and (min-width: 992px) {
  .btn {
    display: block;
  }

  .info h1 {
    width: 340px;
  }

  .info p {
    width: 440px;
  }
}
